# Created by .ignore support plugin (hsz.mobi)

node_modules/
.idea
Bullet.js
bulletList.js
Entity.js
EntityClass.js
Player.js
playerList.js
SocketList.js
client/clientBullet.js
client/clientPlayer.js